#wrapBg{/*游戏背景 */
    width: 343px;
    height: 480px;
    margin: 0 auto;
    position: relative;
    top: 100px;
}


#headTitle{/*开始图片*/
    width: 236px;
    height: 77px;
    background-image: url(../img/head.jpg);
    position: absolute;
    left: 53px;
    top: 100px;
    background-image: url(../img/bg.jpg);
}


#headBird{
    float: right;
    margin-top: 25px;
}




#startBtn{
    width: 85px;
    height: 29px;
    margin: 0;
    padding: 0;
    background-image: url(../img/start.jpg);
}